<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
<body>
    <img src="{{ url_for('static', filename='img/sql_logo.png') }}" alt="Logo">


<h1>Student Information</h1>
    <table border="1" class="student-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Username</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Date of Birth</th>
                <th>GPA</th>
            </tr>
        </thead>
        <tbody>
            {% for record in studentInfo %}
            <tr>
                <td>{{ record[0] }}</td>
                <td>{{ record[1] }}</td>
                <td>{{ record[2] }}</td>
                <td>{{ record[3] }}</td>
                <td>{{ record[4] }}</td>
                <td>{{ record[5] }}</td>
                <td>{{ record[6] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <br>
<h1>Courses</h1>
    <table border="1" class="student-table">
        <thead>
            <tr>
                <th>CID</th>
                <th>Course Name</th>
                <th>Description</th>
                <th>Credits</th>
                <th>Capacity</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for record in courses %}
            <tr>
                <td>{{ record[0] }}</td>
                <td>{{ record[1] }}</td>
                <td>{{ record[2] }}</td>
                <td>{{ record[3] }}</td>
                <td>{{ record[4] }}</td>
                <td>
                    <a href="{{ url_for('enroll', sid=studentInfo[0][0], cid=record[0]) }}">Enroll</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <br>
<h1>Enrolled Courses</h1>
    <table border="1" class="student-table">
        <thead>
            <tr>
                <th>SID</th>
                <th>CID</th>
                <th>Grade</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for record in enrolled %}
            <tr>
                <td>{{ record[0] }}</td>
                <td>{{ record[1] }}</td>
                <td>{{ record[2] }}</td>
                <td>
                    <a href="{{ url_for('drop', sid=record[0], cid=record[1]) }}">Drop Course</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
</body>
</html>